
@{
    ViewData["Title"] = "About";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.8.8, mobirisethemes.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
    <meta name="description" content="">
    <link rel="stylesheet" href="\about\assets\web\assets\mobirise-icons\mobirise-icons.css">
    <link rel="stylesheet" href="\about\assets\tether\tether.min.css">
    <link rel="stylesheet" href="\about\assets\bootstrap\css\bootstrap.min.css">
    <link rel="stylesheet" href="\about\assets\bootstrap\css\bootstrap-reboot.min.css">
    <link rel="stylesheet" href="\about\assets\bootstrap\css\bootstrap-grid.min.css">
    <link rel="stylesheet" href="\about\assets\dropdown\css\style.css">
    <link rel="stylesheet" href="\about\assets\theme\css\style.css">
    <link rel="stylesheet" href="\about\assets\mobirise\css\mbr-additional.css" type="text/css">
</head>
<body>
    <section class="features1 cid-r7io8K1ARy" id="features1-i" style="margin-top:15px">
        <div class="container-fluid">
            <div class="row content-row">
                <div class="mbr-figure col-lg-6">
                    <img src="\about\assets\images\tiago-rosado-752257-unsplash-1904x1269.jpg" alt="" title="">
                </div>
                <div class="media-content px-5  mbr-white py-4 col-lg-6">

                    <div class="content-block">
                        <h2 class="mbr-section-title mbr-fonts-style pb-4 display-2">Thông tin về HCMUTE Shop</h2>

                        <p class="mbr-text testimonial-text mbr-fonts-style display-7">
                            HCMUTE Shop được sinh ra với mong muốn mang cung cấp cho game thủ Việt Nam những game bản quyền chất lượng nhất trên thế giới với một phương thức thanh toán đơn giản nhất, giá tốt nhất cùng với đó là dịch vụ chăm sóc khách hàng tuyệt vời.
                            Chúng tôi mong muốn trở thành những người đồng hành và tư vấn cho bạn trong mọi vấn đề liên quan đến Game bản quyền, giúp cho trải nghiệm chơi game của bạn được tuyệt vời nhất.
                            Chúng tôi tin rằng giải trí đúng cách sẽ mang lại những giá trị tốt đẹp cho cuộc sống.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

