
@{
    ViewData["Title"] = "Contact";
}

<h1 style="text-align:center;color:grey;margin-top:40px;font-family:Bahnschrift;font-size:30px">THÔNG TIN NHÓM PHÁT TRIỂN</h1>
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <div style="text-align:center !important">
            <div>Leader: Phan Đăng Trung</div>
            <div>Devop: Luyện Ngọc Thanh</div>
            <div>Dev: Phạm Quốc Việt</div>
            <div>Tester: Nguyễn Hùng Duy</div>
        </div>
    </div>
</div>

