@model DichVuGame.Models.Studio
@{
    ViewData["Title"] = "StudioDetails";
}

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                            <div class="tab-pane active" id="pic-1"><img src="@Model.StudioLogo" /></div>
                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.Studioname</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">41 reviews</span>
                        </div>
                        <p class="product-description">@Model.Describe</p>
                        <h4 class="price">current price: <span>$180</span></h4>
                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                        <h5 class="colors">
                            colors:
                            <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                            <span class="color green"></span>
                            <span class="color blue"></span>
                        </h5>
                        <div class="action">
                            <a class="btn" asp-area="Customer" asp-controller="Home" asp-action="Search" asp-route-q="@Model.Studioname">Mua game của studio ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

