@model DichVuGame.Models.Country

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/AdminHome/_CMSLayout.cshtml";
}
<br />
<div class="p-4 border rounded" style="background-color:#435d7d">
    <h2 class="text-white" style="font-family:Bahnschrift;color:azure">Thêm quốc gia </h2>
</div>
<br />
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-2">
            <label asp-for="Countryname" class="control-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="Countryname" class="form-control" />
        </div>
        <span asp-validation-for="Countryname" class="text-danger"></span>
        <br />



        <br />
        <div class="form-gruop">
            <input type="submit" class="btn btn-primary" value="Thêm quốc gia" />
            <a asp-action="Index" class="btn btn-success">Trở về </a>
        </div>
    </div>
</form>
