@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Email đã gửi. Vui lòng kiểm tra hộp thư đến hoặc thư rác.
</p>

